@import '../../style/mixins.scss';

.input {
    background: transparent;

    font-weight: bold;
    
    border: 1px solid var(--border-input);
    border-radius: 8px;
    
    height: var(--inputHeight);
    width: 100%;
    max-width: 700px;

    padding-left: 15px;

    @include theme_dark(){
        &:focus {
            outline: 2px solid var(--white);
        }
    }
    @include theme_light(){
        &:focus {
            outline: 2px solid var(--black);
        }
    }
}