.button {
    background: var(--blue-linear);
    
    color: var(--white);
    font-size: var(--fontButton);
    font-weight: bold;
    
    border: none;
    border-radius: 8px;

    cursor: pointer;
    
    &__search{
        width: 100%;
        height: var(--button-height);
    }
    &__header {
        padding: .5rem;
    }

    &:focus {
        &[data-theme="dark"]{
            outline: 2px solid var(--white);
        }
        &[data-theme="light"]{
            outline: 2px solid var(--black);
        }
    }
    &:active {
        background: var(--blue-active);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}