.button {
    background: var(--blue-linear);
    color: var(--white);
    font-size: var(--fontButton);
    font-weight: bold;
    
    flex: 1;

    height: var(--button-height);
    max-width: var(--button-maxwidth);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    &:focus {
        outline: none;
        &[data-theme="dark"]{
            border: 2px solid var(--white);
        }
        &[data-theme="light"]{
            border: 2px solid var(--black);
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}