.switch {
    &__thumb{
        width: 27px;
        height: 27px;
    }

    &[data-state="unchecked"] {
        background: gray;
        min-width: 63px;
        min-height: 31px;
    }
    &[data-state="checked"] {
        background: var(--blue-linear);
        min-width: 63px;
        min-height: 31px;
    }
    &[data-theme="dark"]{
        &:focus {
            box-shadow: 0 0 0 3px var(--white);
        }
    }
    &[data-theme="light"]{
        &:focus {
            box-shadow: 0 0 0 3px var(--black);
        }
    }
}