@import '../../style/mixins.scss';

.toggle {
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  
  @include theme_dark(){
    &:hover {
      background: var(--middle-gray);
      transition: .2s background;
    }
    
    &:focus{
      outline: 2px solid var(--white);
    }
  }
  
  @include theme_light(){
    &:hover {
      background: var(--light-gray);
      transition: .2s background;
    }
    
    &:focus{
      outline: 2px solid var(--black);
    }
  }
}